/.venv/
__pycache__/
.scrapy/
*.bak
.DS_Store
*.egg-info/
# collected by manage.py collectstatic:
/ui/static/
# scraper
/scraper/build
/scraper/cache
/scraper/database
/scraper/logs

/attic/
.mypy_cache/
.pytest_cache/
.venv/
