/.venv/
__pycache__/
.scrapy/
*.bak
.DS_Store
*.egg-info/
# scraper
/scraper/build
/scraper/cache
/scraper/database
/scraper/logs
/scrapyd/

/metadataapi/cache

/attic/
.mypy_cache/
.pytest_cache/
.venv/
