.wlo-button-group {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}

.wlo-button {
  padding: 3px 18px;

  border: 1.5px solid #003b7c;
  border-radius: 15px;
  color: #003b7c;
  background-color: white;

  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
}

.wlo-button:hover {
  background-color: #e8f1fc;
  /* color: white; */
}

.wlo-button:active {
  padding: 4px 17px 2px 19px;
}

.wlo-button-left-align + :not(.wlo-button-left-align) {
  margin-left: auto;
}

.wlo-button-default {
  background-color: #003b7c;
  color: white;
}

.wlo-button-default:hover {
  background-color: #19599e;
  color: white;
}
