.wlo-filtertabs {
  margin: 0px;
  margin-bottom: 20px;
  --wlo-filtertabs-indicator-height: 5px;
}

.wlo-filtertabs ul {
  list-style: none;
  display: flex;
  gap: 12px;

  padding: 0 16px;
  margin: 0;

  color: #163e76;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 100%;

  border-bottom: 1px solid #cbcbcb;

  position: relative;
}

/* only not on mobile */
@media screen and (min-width: 769px) {
  .wlo-filtertabs {
    display: block;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100%;
    scroll-padding: 60px;
  }
  /* .wlo-filtertabs > div {
        scroll-margin: 20px;
    } */

  .wlo-filtertabs {
    box-shadow:
      inset 20px 0 10px -15px rgba(0, 0, 0, 0.25),
      inset -20px 0 10px -15px rgba(0, 0, 0, 0.25);
    /* box-shadow: inset 20px 0 10px -15px #919294, inset -20px 0 10px -15px #919294; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* margin: 0; */
    padding: 0;
  }

  .wlo-filtertabs > div {
    background:
      linear-gradient(to right, #fff 40px, transparent 100px),
      linear-gradient(to left, #fff 40px, transparent 100px);
    background-size: 100% 100%;
    width: 100%;
    min-width: fit-content;
    display: inline-block;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    /* background: linear-gradient(to right, transparent 0%, transparent 60px, #ccccff 80px); */
  }

  .wlo-filtertabs ul {
    box-sizing: border-box;
    /* padding: 0; */
  }
}

/* .wlo-filtertabs {
    overflow-x: hidden;
    overflow-y: scroll;
    transform: rotate(-90deg);
    height: 100%
}

.wlo-filtertabs > div {
    transform: rotate(90deg);
} */

/* add shadow to the left and right when wlo-filtertabs scrolls */
/* .wlo-filtertabs {
    box-shadow: inset 20px 0 10px -15px #000;
    position: relative;
}

.wlo-filtertabs > div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    border: 1px solid red;
    background: white;
    background: linear-gradient(to left, #ffffff 30px, #ffffff00 60px);
} */

.wlo-filtertabs a {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  text-wrap: nowrap;
}

/* .wlo-filtertabs ul { outline: 1px solid green; }
.wlo-filtertabs li { outline: 1px solid orange; }
.wlo-filtertabs li > * { outline: 1px solid red; }
.wlo-filtertabs li > * > * { outline: 1px solid blue; } */

.wlo-filtertabs-sidebar {
  --wlo-filtertabs-indicator-height: 3px;
}

.wlo-filtertabs-sidebar ul {
  gap: 0px;
  padding: 0 5px;

  color: #49454f;
}

.wlo-filtertabs-sidebar li {
  /* make the <a> child fill this */
  display: flex;
}

.wlo-filtertabs-sidebar li a {
  flex-direction: column;
  gap: 0px;
  padding: 4px 6px;
  /* orient at bottom */
  justify-content: end;

  font-size: 13px;
  font-weight: 500;
}

.wlo-filtertabs-tab-complete svg {
  color: #b4da1c;
}

.wlo-filtertabs a:link,
.wlo-filtertabs a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px 12px 0 0;
  /* background-color: #f7f8fa00; */
  transition: background-color 0.2s linear;
}

.wlo-filtertabs a:hover,
.wlo-filtertabs a:active {
  color: #003b7c;
  background-color: #f7f8fa;
  border-radius: 12px 12px 0 0;
  transition: background-color 0s linear;
}

.wlo-filtertabs-tab-disabled a:hover,
.wlo-filtertabs-tab-disabled a:active {
  color: inherit;
  background-color: inherit;
  cursor: default;
}

.wlo-filtertabs .indicator {
  position: absolute;
  width: 50px;
  bottom: calc(-1 * var(--wlo-filtertabs-indicator-height));
  height: var(--wlo-filtertabs-indicator-height);
  border-radius: var(--wlo-filtertabs-indicator-height);
  border-top: var(--wlo-filtertabs-indicator-height) solid #80a4cb;
  transition:
    left 0.2s ease-out,
    width 0.2s ease-out;
}

.wlo-filtertabs-toggle {
  display: none;
}

.wlo-filtertabs-menu-checkbox {
  display: none;
}

@media screen and (max-width: 768px) {
  .wlo-filtertabs ul {
    display: none;
  }

  .wlo-filtertabs-toggle {
    font-size: 18px;

    position: fixed;
    right: 0px;
    top: 0px;
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 101;
    color: #163e76;
    border-radius: 12px;
  }

  .wlo-filtertabs {
    position: relative;
  }

  /* .wlo-filtertabs {
        position: absolute;
        width: 100%;
        z-in
    } */

  .wlo-filtertabs-menu {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 100;

    background-color: #00000088;

    transition: all 0.2s linear;
    opacity: 0;
    backdrop-filter: blur(4px);
    pointer-events: none;
  }

  .wlo-filtertabs-menu-checkbox:checked ~ div {
    pointer-events: all;
    opacity: 1;
    transition: all 0s linear;
  }

  .wlo-filtertabs ul {
    display: flex;
    opacity: 1;
    z-index: 102;
    width: 100%;
    height: 100%;

    /* margin: 70px; */
    box-sizing: border-box;

    position: relative;
    z-index: 110;
    /* position: fixed; */
    /* width: 100%;
        height: 100%;
        top: 0px;
        left: 0; */
    /* transform: translateX(100%); */
    /* margin: 20px; */

    box-sizing: border-box;
    flex-direction: column;
    gap: 0px;
    font-weight: 400;
    border-radius: 12px;
    margin: 0;
    padding: 12px;
    background-color: #d2e1f1;
  }

  .wlo-filtertabs a:link,
  .wlo-filtertabs a:visited {
    border-radius: 0;
  }

  /* .wlo-filtertabs-toggle {
        display: flex;
        gap: 24px;
        padding: 0 16px;
        margin-top: 8px;
    }

    .wlo-filtertabs-toggle a {
        padding: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 400;
    } */
}
