
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f8fb;
}

button {
  font: inherit;
}

/* apply default font to shadow dom root */
:host {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
