

.timeline {
    --circle-size: 60px;
    --border-width: 2px;

    max-width: 600px;
    height: var(--circle-size);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;;
    margin: 20px 10px 40px 10px;
}

/* .timeline { outline: 1px solid orange; }
.timeline > * { outline: 1px solid blue; }
.timeline > * > * { outline: 1px solid green; }
.timeline > * > * > * { outline: 1px solid purple; } */

.timeline-line {
    width: 100%;
    height: 8px;
    background-color: #aaa;
    border-radius: 5px;
    position: absolute;
}

.timeline-circles {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* spread out items */;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
}


.timeline-circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    border: var(--border-width) solid #002750;
    background-color: white;
    color: #002750;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--circle-size) / 2);
    padding-top: 0.1em;
    padding-left: 0.05em;
    position: relative;
}

.timeline-circle > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-circle-text {
    font-size: 0.9rem;
    position: absolute;
    top: 100%;
    margin-top: 12px;
    text-align: center;
    width: calc(var(--circle-size) * 1.5);
}

.timeline-circle.completed {
    background-color: #676767;
    color: white;
    border: var(--border-width) solid #424242;
}
.timeline-circle.completed .timeline-circle-text {
    color: #002750;
}

.timeline-circle.current {
    background-color: #0e4c8e;
    color: white;
    border: var(--border-width) solid #002750;
    box-shadow: 0px 0px 0px var(--border-width) white inset;
}
.timeline-circle.current .timeline-circle-text {
    color: #002750;
}

.timeline-circle.clickable {
    cursor: pointer;
    background-color: #f1f1f1;
    box-shadow: -2px -2px 4px 0 #ccc inset, 2px 2px 4px 0 #fff inset, 2px 2px 4px #aaa;
}

.timeline-circle.clickable .timeline-circle-text {
    text-decoration: underline;
}