django-cors-headers==4.3.1
django-debug-toolbar==4.4.6
django-filter==24.2
django-types==0.19.1
django-vite==3.0.4
# Includes support for Django 5.1 that is not in the latest 3.15.2
# This handles LoginRequiredMiddleware properly
# Update this when a new release is made
djangorestframework @ git+https://github.com/encode/django-rest-framework.git@73cbb9cd4acd36f859d9f656b8f134c9d2a754f3
djangorestframework-stubs @ git+https://github.com/typeddjango/djangorestframework-stubs.git@a844a898b7ef1c0b8c01b46eee2523f6327d45bd
gunicorn==22.0.0
mypy==1.11.2
pip-chill==1.0.3
pylint-django==2.5.5
pytest==8.2.2
python-decouple==3.8
redis==5.1.1
scrapy==2.11.2
whitenoise==6.7.0